@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

 html {
  scroll-behavior: smooth;
}
body {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

body.visible {
  opacity: 1;
}

  

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a i {
  font-size: 19px;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

/* #navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 90%;
  height: 2px;
  position: absolute;
  background-color: #088178;
  bottom: -4px;
  left: 5px;
}  */
#navbar li a:after,
#navbar li a.active:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .3s ease, background-color .5s ease;
}
#navbar li a:hover:after,
#navbar li a.active:after {
  width: 100%;
  background: #088178;
}

#mobile {
  display: none;
  align-items: center;
}
#mobile #bar {
  font-size: 22px;
  transition: 0.5s;
}
#mobile :hover {
  color: #088178;
}
#mobile a {
  text-decoration: none;
}
#close {
  display: none;
}

/* home */

#hero {
  background-image: url("img/hero4.png");
  background-position: top 25% right 0%;
  background-size: cover;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url(img/button.png);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: none;
  height: 40px;
  width: 160px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 16px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  text-align: center;
  width: 180px;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.0.3);
  border-radius: 4px;
  margin: 15px 0;
  border: 1px solid #cce7d0;
  transition: 0.3s;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img {
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.fe-box h6 {
  padding: 9px 8px 6px 8px;
  border-radius: 4px;
  line-height: 1;
  color: #088178;
  background-color: #fddde4;
}

.fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
.fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 #pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 230px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;  
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 10px;
  transition: 0.2s;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgb(70, 62, 221, 0.1);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063; 
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 228, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  text-decoration: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #e0f5e3;
  font-weight: 700;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 15px;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100%;
}

#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2>span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}

#sm-baner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

#sm-baner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(img/banner/b17.jpg);
  background-position: center;
  background-size: cover;
  height: 45vh;
  min-width: 500px;
  margin: 10px;
  padding: 30px;
}

#sm-baner .banner-box2 {
  background-image: url(img/banner/b10.jpg);

}

#sm-baner .banner-box h4 {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

#sm-baner .banner-box h2 {
  font-size: 28px;
  font-weight: 800;
  color: white;
}

#sm-baner .banner-box span {
  font-size: 14px;
  font-weight: 800;
  color: white;
  padding-bottom: 15px;
}

#sm-baner .banner-box button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
}
#sm-baner .banner-box:hover button {
  background-color: #088178;
}

#banner3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  text-transform: uppercase;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(img/banner/b7.jpg);
  background-position: center;
  background-size: cover;
  height: 38vh;
  min-width: 40%;
  margin: 20px;
  padding: 20px;
}
#banner3 h2 {
  color: #fff;
  font-weight: 800;
  font-size: 17px;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(img/banner/b18.jpg);
}

#newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-color: #041e42;
  background-position: 20% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.newstext h4 {
  color: white;
  font-weight: 700;
  font-size: 22px;
}
.newstext p {
  font-weight: 600;
  font-size: 14px;
  color: #818ea0;
}
.newstext p span {
  color: #ffbd27;
}

.form {
  display: flex;

}
.form input {
 font-size: 14px;
 background-color: white;
 border: none;
 outline: none;
 height: 6.5vh;
 width: 100%;
 padding: 23px 30px;
 border-radius: 5px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
.form button {
  white-space: nowrap;
  color: white;
  background-color: #088178;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
  font-size: 13px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  cursor: pointer;
  border-radius: 3px;
}
footer .install img  {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}



  /* Shop Page */
#page-header {
    background-image: url(img/banner/b1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
  #page-header p  {
    color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  background-color: #088178;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* view Product Page */

#prodetails {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding: 50px 0px;
}

#prodetails .single-pro-details h6 {
  font-size: 17px;
  line-height: 24px;
}
#prodetails .single-pro-details h4 {
  font-size: 24px;
  margin: 24px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 38px;
  margin: 10px 0;
}
#prodetails .single-pro-details select {
  height: 40px;
  width: 110px;
  display: block;
  margin-bottom: 20px;
}
#prodetails .single-pro-details input,
#prodetails .single-pro-details input[type='number'] {
  height: 47px;
  width: 55px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  margin-right: 10px;
}
#prodetails .single-pro-details .normal {
  background-color: #088178;
  color: white;
}
#prodetails .single-pro-details span {
  font-size: 25px;
}

/* Blog Page */
#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);
  height: 40vh;
  background-attachment: fixed;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after{
  content: "";
  width: 55px;
  height: 1.1px;
  background-color: black;
  position: absolute;
   top: 5px;
   right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
}
#blog .blog-details a:hover::after {
  color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 68px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}



/* About Page */
#page-header.about-header {
  background-image: url(img/about/banner.png);
}
#head {
  display: flex;
  align-items: center;
  width: 100%;
}
#head img {
  width: 50%;
  height: 100%;
  margin-right: 20px;
}
#head div{
  padding: 20px;
}


#about-app h1 {
  text-align: center;
}

#about-app .video {
  width: 80%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


/* Contact Page code */

#page-header.contact-header {
  margin-bottom: 20px;
  background-image: url(img/about/banner.png);
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding: 15px;
}
#contact-details .details div li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details div li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details div li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
  gap: 5px;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid color#e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: white;
}

#form-details .people{
  padding: 80px 0;
}
#form-details .people div {
  page-break-inside: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}


/* Cart page code */

#page-header.cart-header {
  background-image: url(img/about/banner.png);
  background-position: top;
  margin-bottom: 50px;
}
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-radius: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-skip: 13px;
  padding: 13px 0;
}
#cart table tbody tr td {
    padding-top: 15px;
}
#cart table tbody td {
  font-size: 11px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#cart-add #coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px soluid #e2e9e1;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: white;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e2;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}



      /* Responsive  */

@media (max-width:799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  .section-p1 {
    padding: 20px 20px;
  }

  #header {
    padding: 10px 30px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    background-color: #cdd4f8;
    position: fixed;
    right: -300px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.337);
    top: 0;
    height: 100vh;
    width: 250px;
    justify-content: flex-start;
    padding: 70px 20px;
    gap: 10px;
    transition: 0.5s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;  
  }
  #mobile {
    display: initial;
    align-items: center;
  }
  #mobile i {
    font-size: 24px;
    padding-left: 20px;
    color: #1a1a1a;
  }
  #close {
    display: flex;
    position: absolute;
    top: 3%;
    left: 10%;
    color: #222;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
  }

  #lg-bag {
    display: none;
  }
  /* hero */

  #hero {
    height: 90vh;
    padding: 0 50px;
    background-position: top 30% right 30%;
  }
  #feature{
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px;
  }
  #product1 #pro-container {
    justify-content: space-evenly;
  }
  #product1 .pro {
    margin: 20px 0px;
  }
  #banner {
    height: 30vh;
  }
  #sm-baner {
    display: initial;
  }
  #banner3 {
    display: flex;
    padding: 0 30px;
  }
  /* #banner3 .banner-box {
    min-width: 28%;
    margin: 15px;
    padding: 10px;
  } */
  #banner3 h2 {
  font-size: 12px;
  line-height: 15px;
  }
  #banner3 h3 {
    margin-top: 10px;
    font-size: 12px;
  }

  .newstext h4 {
    font-size: 14px;
  }
  .newstext p {
    font-size: 10px;
  }
  p {
    margin: 5px 0 10px 0;
  }
  .form input {
    font-size: 12px;
    height: 5vh;
    width: 100%;
    padding: 17px;
  }
  button.normal {
    font-size: 12px;
    padding: 10px;
  }
  
  #blog {
    padding: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 30px;
  }
  #blog .blog-box h1 {
    top: -47px;
    left: 122px;
  }
  #blog .blog-img {
    width: 60%;
  }
  #blog .blog-details {
    width: 65%;
  }
  #contact-details {
    flex-direction: column;
    gap: 40px;
  }
  #contact-details .details {
    width: 100%;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    flex-direction: column;
    padding: 10px;
  }
  #form-details form {
    width: 100%;
  }
  #form-details form button {
    margin: 0 auto;
  }
  #form-details .people {
    margin: 80px auto;
    padding: 0;
  }

}

@media (max-width: 480px) {
  html, body {
    overflow-x: hidden;
  }
  #header {
    padding: 7px 20px;
  }
  #product1 #pro-container {
    justify-content: center;
}
  #header .logo {
    height: 40px;
  }
  #navbar {
  width: 200px;
  }
  #hero {
    padding: 0 20px;
    background-position: 65%;
  }
  #hero h4 {
    padding: 0;
    font-size: 18px;
  }
  #hero h2 {
    font-size: 30px;
  }
  #hero h1 {
    font-size: 50px;
    line-height: normal;
  }
  #hero p {
    font-size: 12px;
  }
  #banner h2 {
    font-size: 20px;
  }
  h2 {
    line-height: 34px;
  }
  #banner h4 {
    margin-bottom: 10px;
  }
  .form {
    margin-top: 15px;
  }
  #banner3 .banner-box {
    width: 300px;
  }
  #feature .fe-box {
    margin: 10px 5px;
  }
  #feature {
    padding: 10px;
    flex-wrap: wrap;
  }
  #product1 {
    padding: 20px 10px;
  }
  h2 {
    line-height: 54px;
  }
  #product1 .pro {
    min-width: 330px;
  }
  #sm-baner .banner-box {
    height: 35vh;
    min-width: 300px;
  }

  #prodetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding: 25px 0px;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }

  /* about section responsive code */
  #head {
    display: block;
    width: 100%;
  }
  #head img {
    width: 100%;
  }
  #about-app .video {
    width: 100%;
    height: 100%;
    margin: 30px auto 0 auto;
  }
  /* cart page responsive code */
  #cart-add {
    flex-direction: column;
  }
  #cart-add #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
  }
}
